.card-item-offer {
  .MuiCardHeader-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card-actions-content{
    min-height: 145px;
  }

  @media only screen and (max-width: 576px) {
    .card-actions-content{
      min-height: 130px;
    }
  }

}
