.clearfix{
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
  }
}
.card {
  background: #fff;
  transition: .5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  .text-right {
    text-align: right
  }
  .float-right{
    float: right;
  }
  .online {
    color: #86c541
  }

  .offline {
    color: #e47297
  }

  .me {
    color: #1d8ecd
  }
  .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
    img{
      float: left;
      border-radius: 40px;
      width: 40px
    }
    .chat-about {
      float: left;
      padding-left: 10px;
      h6{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
      }
    }
  }
  .chat-history{
    padding: 20px;
    height: 500px;
    overflow-y: auto;
    border-bottom: 2px solid #fff;
    ul{
      padding: 0;
      li{
        list-style: none;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0px
        }
      }
    }
    .message-data {
      margin-bottom: 12px;
      img {
        border-radius: 40px;
        width: 40px
      }
      .message-data-time {
        color: #434651;
        padding-left: 6px;
        font-size: 12px;
        line-height: 38px;
      }
    }

    .message {
      color: #444;
      padding: 12px 15px;
      line-height: 26px;
      font-size: 12px;
      border-radius: 7px;
      display: inline-block;
      position: relative;
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    .other-message {
      background: #efefef;
      &:after {
        bottom: 100%;
        left: 15px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #efefef;
        border-width: 10px;
        margin-left: -10px
      }
    }
    .my-message {
      background: #e8f1f3;
      text-align: right;
      &:after {
        border-bottom-color: #e8f1f3;
        left: auto;
        right: 10px;
      }
    }
    .message-data-other{
      display: flex;
    }
  }
}





//@media only screen and (max-width: 767px) {
//  .chat-app .people-list {
//    height: 465px;
//    width: 100%;
//    overflow-x: auto;
//    background: #fff;
//    left: -400px;
//    display: none
//  }
//  .chat-app .people-list.open {
//    left: 0
//  }
//  .chat-app .chat {
//    margin: 0
//  }
//  .chat-app .chat .chat-header {
//    border-radius: 0.55rem 0.55rem 0 0
//  }
//  .chat-app .chat-history {
//    min-height: 400px;
//    overflow-x: auto
//  }
//}
//
//@media only screen and (min-width: 768px) and (max-width: 992px) {
//  .chat-app .chat-list {
//    height: 650px;
//    overflow-x: auto
//  }
//  .chat-app .chat-history {
//    height: 600px;
//    overflow-x: auto
//  }
//}
//
//@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
//  .chat-app .chat-list {
//    height: 480px;
//    overflow-x: auto
//  }
//  .chat-app .chat-history {
//    height: calc(100vh - 350px);
//    overflow-x: auto
//  }
//}